@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.container{
    display: flex;
    width: 99%;
}

.content-container{
    display: flex;
    flex-direction: column;
    width: 70%;
    /* height: 60px; */
}

.navContainer{
    width: 20%;
}

@media all and (max-width:1000px) {
    .content-container{
        display: flex;
        flex-wrap: wrap;
        width: 50%;
    }
}

@media all and (max-width:500px) {
    .content-container{
        display: flex;
        flex-wrap: wrap;
        width: 50%;
    }
}

@media all and (max-width:1400px) {
    .content-container{
        display: flex;
        flex-wrap: wrap;
        width: 50%;
    }
}