@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.contentHeader{
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    border: grey 0.5px solid;
    margin-top: 1px;
}

.headerImages{
    display: flex;
    align-items: center;
    justify-content: space-around;
}