@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.mainContent { 
    display: flex;
    height: 60vh;
}

.content-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    /* height: 60px; */
}

.userInput{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.inputSection{
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-items: center;
    /* align-content: flex-end; */
    padding: 20px;
    margin: 10px;
    border: 2px solid grey;
    width: 95%;
}

.actualInput {
    background-color: whitesmoke;
    align-content: flex-end;
    padding: 6px;
    width: 900px;
    height: 60px;
}
.imageRows{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

img{
    width: 20px;
    height: 17px;
    transition: background-color;
}

img :hover{
    background-color: lightgrey;
}

.username{
    font-weight: bolder;
}

.timestamp{
    font-size: 10px;
    color: grey;
}