@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 15px;
}

input {
  background-color: #563C5C;
  opacity: 0.6;
  height: 30px;
  width: 200px;
}

input ::placeholder {
  color: white;
}

@media all and (max-width:1000px) {
    input{
        display: flex;
        width: 80px;
    }

    h2{
        font-size: 9px;
    }
}

@media all and (max-width:500px) {
    input{
        display: flex;
        width: 60px;
        height: 20px;
    }

    h2{
        font-size: 9px;
    }
}