@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.navBar {
  background-color: #4a154b;
  border: grey 0.5px solid;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  width: 100%;
  height: 100vh;
  padding: 12px;
}

.directory {
  display: flex;
  flex-direction: column;
}

.links {
  text-decoration: none;
  color: whitesmoke;
}

img {
  width: 20px;
  height: 17px;
}

@media all and (max-width: 1000px) {
  .navBar {
    font-size: 9px;
  }
}

@media all and (max-width: 500px) {
    .navBar{
        /* width: 110%; */
    }
    img{
        width: 14px;
        height: 13px;
    }
}
